<div class="ui grid container">
  <div class="one wide column">
    <h2 class="ui header">
      <div class="content">
        Services
      </div>
    </h2>
  </div>
</div>
<div class="ui grid container">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="active item" uiSref="services.web" uiSrefActive="active">Web Development</a>
      <a class="item" uiSref="services.apps" uiSrefActive="active">Apps Development</a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment">
      <ui-view></ui-view>
    </div>
  </div>
</div>